.justice-width{
    width: 1000px;
}
.justice-btn{
    background: #B68C5A;
    color: #fff;
}
.justice-btn:hover{
    border:2px solid #B68C5A;
}
.banner{
    padding: 30px !important;
}
.banner-title{
    font-size: 60px;
    font-weight: 400;
}

@media only  screen  and (max-width:576px) {
    .justice-width{
        width: 100%;
    }
    .banner{
     overflow: hidden;
    }
}